<div>
  <%= flash[:notice] %>
</div>

<div class="show">
  <strong>Title:</strong>
  <%= @book.title %>
</div>

<div class="show">
  <strong>Body:</strong>
  <%= @book.body %>
</div>


<%= link_to "Edit", edit_book_path(@book.id) %>
