body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-size: 13px;
}

div {
  display: block;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

p {
  margin: 33px;
}

